window {
    background-color: black;
    color: white;
}

image {
    margin-top: 2.5em;
}

levelbar block {
    border-radius: 15px;
    margin: 1em;
    padding: 5px;
}

levelbar block.high, levelbar block.low, levelbar block.filled {
    background-color: white;
    padding: 5px;
}

levelbar trough {
    background-color: transparent;
    border: none;
}